---
import SEO from "../components/SEO.astro";
import Header from "../components/Header.astro";
import CookieConsent from "../components/CookieConsent.astro";
import GAConsentMode from "../components/GAConsentMode.astro";
import "../styles/global.css";

export interface Props {
	title: string;
	description?: string;
	image?: string;
	canonical?: string;
	noindex?: boolean;
}

const { title, description, image, canonical, noindex } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<SEO
			title={title}
			description={description}
			image={image}
			canonical={canonical}
			noindex={noindex}
		/>
		
		<!-- Global CSS -->
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body>
		<GAConsentMode />
		<Header />
		<main>
			<slot />
		</main>
		<CookieConsent />
	</body>
</html>
