---
import SEO from "../components/SEO.astro";
import Header from "../components/Header.astro";
import CookieConsent from "../components/CookieConsent.astro";
import GAConsentMode from "../components/GAConsentMode.astro";
import "../styles/global.css";

export interface Props {
	title: string;
	description?: string;
	image?: string;
	canonical?: string;
	noindex?: boolean;
}

const { title, description, image, canonical, noindex } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<SEO
			title={title}
			description={description}
			image={image}
			canonical={canonical}
			noindex={true}
		/>

		<!-- Meta Pixel Code -->
		<script is:inline>
			!(function (f, b, e, v, n, t, s) {
				if (f.fbq) return;
				n = f.fbq = function () {
					n.callMethod
						? n.callMethod.apply(n, arguments)
						: n.queue.push(arguments);
				};
				if (!f._fbq) f._fbq = n;
				n.push = n;
				n.loaded = !0;
				n.version = "2.0";
				n.queue = [];
				t = b.createElement(e);
				t.async = !0;
				t.src = v;
				s = b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t, s);
			})(
				window,
				document,
				"script",
				"https://connect.facebook.net/en_US/fbevents.js",
			);
			fbq("init", "812946297991293");
			fbq("track", "PageView");
		</script>
		<noscript
			><img
				height="1"
				width="1"
				style="display:none"
				src="https://www.facebook.com/tr?id=812946297991293&ev=PageView&noscript=1"
			/></noscript
		>
		<!-- End Meta Pixel Code -->
	</head>
	<body>
		<GAConsentMode />
		<main>
			<slot />
		</main>
		<CookieConsent />
	</body>
</html>
